/*Google fontes*/

@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Variaveis de fonte*/
:root {
--fonte-menu: "Montserrat", sans-serif;
--fonte-titulo: "Funnel Sans", sans-serif;
--fonte-subtitulo: "Noto Serif", serif;

}

/* Variaveis de Cores*/
:root {
    --cor-destaque: #000000;
    --cor-padrao: #ebebeb;
}

/*Fontes utilizadas*/

/* converter REM em PX*/

html {
    font-size: 62.5%;
}


/*Reset CSS 
= Padronizar os navegadores*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: transparent;
}





body{
    background-color: #000000;
    font-size: 16px;

    
}

/*Cabeçalho*/
header {
    /* cor de fundo: background*/
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(51, 1, 75, 1) 38%);
    color: #ebebeb;
    display: flex;
    justify-content: space-between; 
    /*tamanho do cabeçalho*/
    width: 100%; /*largura*/
    align-items: center;

}

.menu-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/*menu = UL*/
.menu {
    display: flex;
    list-style: none;
    gap: 17px;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: var(--fonte-menu);
    text-decoration: none;
}


.menu-texto {
    color: var(--cor-padrao)
    text-transform: capitalize;
    font-size: 2rem;

}

.menu-link {
    text-decoration: none;
}


h1 {
    font-size: 32px; /*tam fonte*/
    text-align: center; /*centralizar*/
    color: #ebebeb; /*cor texto*/
}

h2 {
    font-size: 16px;
    text-align: center;
    color: #ebebeb;
}

/* Responsivo */

/* A partir de Telas Grandes */
@media (min-width:768px) {

    header {
        padding: 2rem 9rem
    }

    .menu-desktop {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: auto;

    }
}

/* Herança */
.menu-link.active .menu-texto,
.menu-link:hover .menu-texto {
    color: var(--cor-destaque);
}