/*
/* Seletor= busca algo em HTML */

body{
    background-color: #000000;

    
}

/*Cabeçalho*/
header {
    /* cor de fundo: background*/
    background: #ebebeb;

    /*tamanho do cabeçalho*/
    width: 100%; /*largura*/
    height: 50%; /*altura*/
}

h1 {
    font-size: 32px; /*tam fonte*/
    text-align: center; /*centralizar*/
    color: #ebebeb; /*cor texto*/
}

h2 {
    font-size: 16px;
    text-align: center;
    color: #ebebeb;
}